@font-face {
    font-family: heshbon;
    src: url("../../fonts/heshbon-regular-alefalefalef.otf");
}


@font-face {
    font-family: shalbsbl;
    src: url("../../fonts/SHALSBL_.TTF");
}


.ReflectedDefence {
    background-image: url(../../assets/CardBg.png);
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}


.questionCard {
    background-image: url("src/assets/websitePageExercise.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    width: 35vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}


.title {
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}


.icon {
    width: 4%;
    height: 95%;
}


h1 {
    color: white;
    font-family: "shalbsbl";
    top: 15%;
    font-size: 1.8rem;
    text-align: center;
    position: absolute;
}


button {
    direction: ltr;
    display: block;
    width: 100%;
    height: 14%;
    border-radius: 15px;
    color: white;
    font-size: 1.1rem;
    background-color: rgba(0, 0, 0, 0);
    border-color: #6FA5F8;
    position: absolute;
}


.answersReflectedDefence {
    display: flex;
    justify-content: space-between;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 30%;
    height: 60%;
    flex-direction: row;
    position: absolute;
    text-align: center;
}


.answerReflectedDefence {
    display: flex;
    justify-content: center;
}


.answer2ReflectedDefence {
    top: 20%;
}


.answer3ReflectedDefence {
    top: 40%;
}


.answer4ReflectedDefence {
    top: 60%;
}


button:hover {
    background-color: #5383EA;
}


.wrongReflectedDefence {
    background-color: #DB0000;
    border-color: #DB0000;
}


.correctReflectedDefence {
    background-color: #1FDA3B;
    border-color: #1FDA3B;
}


