.post-body {
    padding: 1vh 3vw 0vh 1vw;
}

.post-body p {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.post {
    background-color: #fffaf1;
    border: solid #f7a707;
    border-radius: 1vw;
    border-width: 0.2vw;
    padding: 1vh 0.5vw 1vh 0.5vw;
    margin: 2vh 1vw 2vh 1vw;
    width: 80%;
}
.blog-button {
    cursor: pointer;
}


.likes {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.icon {
    height: 30px;
    width: 30px;
    padding: 1vh 0vw 0vh 0.5vw ;
}